<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Config</key>
	<dict>
		<key>API_SERVER</key>
		<string>$(API_SERVER)</string>
		<key>APP_IDENTIFY</key>
		<string>$(APP_IDENTIFY)</string>
		<key>BLOCKCHAIN_DOMAIN</key>
		<string>$(BLOCKCHAIN_DOMAIN)</string>
		<key>LOGIN_FAIL</key>
		<string>$(LOGIN_FAIL)</string>
		<key>URL_LOCATION_COMMON</key>
		<string>$(URL_LOCATION_COMMON)</string>
		<key>URL_LOCATION_WALLET</key>
		<string>$(URL_LOCATION_WALLET)</string>
		<key>WEB_SOCKET</key>
		<string>$(WEB_SOCKET)</string>
		<key>X_NCP_APIGW_API_KEY</key>
		<string>$(X_NCP_APIGW_API_KEY)</string>
		<key>X_NCP_APIGW_API_KEY_ID</key>
		<string>$(X_NCP_APIGW_API_KEY_ID)</string>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
